<body>
<div class="container m-auto">
  <div class="row">
    <div class="max-width col-12 col-md-4 offset-md-2">
      <%= image_tag 'top_image.png', class: "top-image" %>
    </div>
    <div class="col-12 col-md-4 offset-md-2">
      <h1 class="text-center py-5">Dotch.life</h1>
      <p class="text-center">写真を使ったお手軽アンケートサービス</p>
      <div class="text-center mb-5">
        <%= image_tag 'signup_logo.svg', class: "signup-logo" %>
        <%= image_tag 'login_logo.svg', class: "signup-logo" %>
      </div>
    </div>
  </div>
</div>
<div class="text-center mb-5">
  <%= image_tag 'down.png', class: "down" %>
</div>
<div class="row text-center mb-5">
  <div class="col-md-4 d-none d-md-inline">
    <a href="#1">どんなサービス？<%= image_tag 'down2.svg', class: "down2" %></a></div>
  <div class="col-md-4 d-none d-md-inline">
    <a href="#2">こんな人にぴったり！<%= image_tag 'down2.svg', class: "down2" %></a></div>
  <div class="col-md-4 d-none d-md-inline">
    <a href="#3">どんなことができるの？<%= image_tag 'down2.svg', class: "down2" %></a></div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="cloud col-lg-6">
      <%= image_tag 'cloud.png', class: "cloud-image" %>
      <h2 class="cloud-text">Dotch.lifeってどんなサービスなの？</h2>
    </div>
    <div class="col-lg-6">
      <p>Twitteは文章のアンケートはあるけどそれじゃ伝えきれない
        写真を使って作成したい！
        という思いを元につくられた、写真を使ったアンケートサービスです。</p>
      </div>
    </div>
  </div> -->
<div class="what" id="1" >
  <div class="row">
    <div class="cloud col-lg-6">
      <h2 class="cloud-text">Dotch.lifeってどんなサービスなの？</h2>
    </div>
    <div class="col-lg-6">
      <p>Twitteは文章のアンケートはあるけどそれじゃ伝えきれない
        写真を使って作成したい！
        という思いを元につくられた、写真を使ったアンケートサービスです。</p>
    </div>
  </div>
</div>

<div class="text-center py-5" id="2">
  こんな人にぴったり！
</div>
<div class="row features text-center">
  <div class="col-md-4">
    <%= image_tag 'fashion.png', class: 'feature-images' %>
    <p>明日どんな服を着ていこう？</p>
  </div>
  <div class="col-md-4">
    <%= image_tag 'present.png', class: 'feature-images' %>
    <p>記念日に何をプレゼントしよう？</p>
  </div>
  <div class="col-md-4">
    <%= image_tag 'animal.png', class: 'feature-images' %>
    <p>どの写真が一番かわいいかな？</p>
  </div>
</div>
<h2 class="text-center">悩みは全部フォロワーに聞いてみよう！</h2>
<h2 class="text-center" id="3">どんなことができるの？</h2>

<div class="d-md-none">
  <h2 class="mb-5">画像アンケートを簡単作成！</h2>
  <h2 class="mb-5">アンケート結果も即反映！</h2>
</div>

<div class="d-none d-md-block">
  <%= image_tag 'group1.png', class: "group1" %>
</div>


<h2 class="text-center">今すぐ始めよう！</h2>

<div class="text-center">
  <%= image_tag 'signup_logo.svg', class: "signup-logo2" %>
  <%= image_tag 'login_logo.svg', class: "signup-logo2" %>
</div>

</body>
